@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
:root {
    /*---------------------LAYOUT-----------------------*/
    --mobile: 375px;
    --desktop: 1440px;
    /*---------------------PRIMARY COLORS-----------------------*/
    --limegreen: hsl(163, 72%, 41%);
    --brightred: hsl(356, 69%, 56%);
    --fb: hsl(208, 92%, 53%);
    --tw: hsl(203, 89%, 53%);
    --ig: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    --yt: hsl(348, 97%, 39%);
    /*---------THEMES-----------*/
    --darkthemetoogle: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    --lightthemetoogle: hsl(230, 22%, 74%);
    /*---------------------NEUTRAL COLORS-----------------------*/
    /*---------DARK THEME-----------*/
    --dt_bg: hsl(230, 17%, 14%);
    --dt_topbg: hsl(232, 19%, 15%);
    --dt_card: hsl(228, 28%, 20%);
    --dt_blue: hsl(228, 34%, 66%);
    --dt_white: hsl(0, 0%, 100%);
    /*---------LIGHT THEME-----------*/
    --lt_bg: hsl(0, 0%, 100%);
    --lt_topbg: hsl(225, 100%, 98%);
    --lt_card: hsl(227, 47%, 96%);
    --lt_blue: hsl(228, 12%, 44%);
    --lt_darkblue: hsl(230, 17%, 14%);
    /*---------------------TYPOGRAPHY-----------------------*/
    --card_head_size: 14px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
 /*flex: 1 -> alle items haben die gleiche große*/
body{
    background-color: var(--dt_bg);
}

/*========================HERO========================*/

.hero {
    width: 100%;
    align-items: center;
    padding: 20px 0;
    height:200px;
    background-color: var(--dt_topbg);   
}

.row {
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin:auto;
    width:80%;
}

.hero-col h1{
    color:var(--dt_white);
}

.hero-col h3{
    color:var(--dt_white);
    font-size:14px;
    padding-right:10px;
}

.hero-col p{
    color:var(--dt_blue);
    font-size:14px;
}

.toogle {
    display:flex;
    flex-direction:row;
    align-items:center;
}

/*========================SWITCH========================*/

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: var(--darkthemetoogle);/*Background off*/
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color:  var(--dt_topbg) ;/*Kugel*/
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--lightthemetoogle);/*Background on*/
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #ccc;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(29px);
    -ms-transform: translateX(29px);
    transform: translateX(29px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 24px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/*========================HERO========================*/
